form {
  margin-top: 10%;
  margin-left: 45%;
  justify-content: center;

  width: 12em;
  padding: 1em;
  background-image: linear-gradient(to right, #385887, #0084b6);
  color: aliceblue;
  border-color: white;
}
